body {
  color: #000;
  background: #fff;
  font-family: "proxima-nova";
}

.container {
  max-width: 944px;
}

.bg-pattern {
  background-image: url("../img/background.svg");
}

.burder-menu {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 20px;

  span {
    background: #000;
    display: block;
    height: 2px;
    margin-bottom: 4px;
    width: 100%;
  }
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 29px;
}

.btn-rounded {
  flex: 0 0 243px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 40px;
  line-height: 1;
  cursor: pointer;

  &.bg-green {
    background-color: #00ae83;
  }
}

.with-styled-border {
  border-bottom: 1px solid #000;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    bottom: -24px;
    right: 50%;
    border: 1px solid #000;;
    transform: translate(50%, 0) rotateZ(45deg);
    z-index: 1;
    background-color: #fff;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    bottom: -7px;
    right: 50%;
    border: 1px solid #000;
    transform: translate(50%, 0) rotateZ(45deg);
    z-index: 2;
  }
}

nav.navbar.navbar-expand-lg {
  padding: 25px 15px;
  align-items: center;

  .navbar-nav {
    align-items: center;

    .nav-item {
      font-size: 14px;
      font-weight: 900;
      padding: 0 24px;
      border-right: 1px solid #000;
      text-transform: uppercase;
      color: #000;
      line-height: 1;

      &:nth-child(4) {
        border-right: none;
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .download-link {
    flex: 0 0 243px;
    background: #000;
    padding-right: 46px;
    padding-left: 46px;
    margin-left: auto;
    text-decoration: none;

    &:active, &:hover {
      color: #fff;
    }
  }
}

section {
  .title {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  .subtitle {
    font-family: "OpenSans";
    font-size: 14px;
    padding-bottom: 22px;
    position: relative;
    text-align: center;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      bottom: 0;
      right: calc(50% - 25px);
      border-bottom: 1px solid #000;
    }
  }

  .btn-rounded {
    width: 171px;
    margin: auto;
  }
}

.container-fluid {
  padding: 0;
}

.bg-black {
  background: #000;
  color: #fff;
}

.container-fluid.bg-black {
  section .subtitle:after {
    border-bottom-color: #fff;
  }
}

section.header {
  padding: 55px 0 42px;

  .carousel {
    margin: 30px auto 54px;
  }

  a.scroll {
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

section.about {
  padding: 50px 0 40px;

  .title {
    color: #5854a1;
  }

  .card-info {
    h3 {
      font-size: 24px;
      padding-bottom: 25px;
    }

    p {
      font-family: "OpenSans";
      font-size: 14px;
    }

    .about-img {
      display: flex;
      height: 165px;
      padding-bottom: 10px;
    }

    .card-item {
      &:first-child img {
        width: 112px;
        padding-top: 59px;
      }

      &:nth-child(2) img {
        width: 121px;
      }

      &:nth-child(3) img {
        width: 87px;
        padding-top: 51px;
      }

      &:nth-child(4) img {
        width: 100px;
        padding-top: 21px;
      }
    }
  }
}

section.instruction {
  padding: 50px 15px 0;

  .title {
    color: #d60053;
  }
}

.video-instruction {
  position: relative;
  padding-bottom: 67%;
  padding-top: 25px;
  height: 0;
}
.video-instruction iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.cards {
  padding-top: 50px;

  h2 {
    color: #5854a1;
  }
  .nav-tabs {
    max-width: 416px;
    margin: 64px auto 84px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    border-radius: 60px;
    border: 0;

    .nav-item {
      width: 138px;
      padding: 0;
      text-align: center;
      margin-bottom: -2px;

      a {
        padding: 0;
      }
    }

    a.nav-link {
      padding: 15px 0;
      line-height: 1;
      border: 1px solid #fff;
      color: #fff;

      &.active {
        color: #000;
      }

      &#home-tab {
        border-radius: 60px 0 0 60px;
      }

      &#profile-tab {
        border-radius: 0;
      }

      &#contact-tab {
        border-radius: 0 60px 60px 0;
      }
    }
  }
}

section.benefits {
  padding: 50px 0 80px;

  h2 {
    color: #94308e;
  }

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
      padding: 22px 0;
      line-height: 1;
      font-size: 18px;
      font-family: "OpenSans";

      img {
        padding-right: 20px;
      }
    }
  }

  .row.benefits {
    margin-bottom: 55px;
    align-items: center;
  }
  .cards {
    position: relative;
    height: 400px;

    img {
      position: absolute;
      max-width: 494px;
      width: 100%;
      height: 300px;
      object-fit: contain;

      &:first-child {
        top: 0;
        z-index: 3;
      }

      &:nth-child(2) {
        top: 45px;
        z-index: 2;
      }

      &:last-child {
        top: 90px;
        z-index: 1;
      }
    }
  }

  .btn-rounded {
    background: #94308e;
    width: 249px;
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

section.contributors {
  padding-top: 50px;

  .contributors-info {
    position: relative;
    padding-bottom: 32px;
    text-align: center;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      bottom: 0;
      right: calc(50% - 25px);
      border-bottom: 1px solid #000;
    }

    h3 {
      font-size: 14px;
      font-weight: 900;
      margin: 32px 0 18px;
      text-transform: uppercase;
    }

    p {
      font-family: "OpenSans";
      font-size: 12px;

      &.contributors-list {
        width: 100%;
        max-width: 400px;
        margin: auto;
      }

      &.about-softserve {
        width: 100%;
        max-width: 858px;
        margin: auto;
      }

      a.underlined {
        text-decoration: underline;
        color: inherit;
      }
    }
  }

  .logo {
    text-align: center;
    padding: 52px 0 85px;

    img {
      width: 132px;
    }
  }
}

@media (max-width: 992px) {
  .navbar.active {
    height: 100%;
    position: fixed;
    background: #fff;
    z-index: 100;
  }

  .navbar-collapse {
    display: none;

    &.show {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;

      .navbar-nav {
        .nav-item.nav-link {
          border-right: none;
          padding: 0 0 20px;
        }

        .btn-rounded.download-link {
          margin: 0;
          flex-basis: 35px;
        }
      }
    }
  }
}
.top-carousel {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 570px;

  margin: 32px auto 55px;

  .item-wrapper {
     flex: 3 3 165px;

     &:first-child {
       margin-right: -30px;
       overflow: hidden;
     }

     &:nth-child(2) {
       z-index: 2;
       flex: 5 5 195px;
     }

    &:last-child {
      margin-left: -30px;
      overflow: hidden;
    }
  }
}


.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (max-width: 600px) {
  section .title {
    font-size: 38px;
  }

  section.cards .nav-tabs {
    display: flex;
    justify-content: center;

    .nav-item {
      width: 115px;
    }
  }

  section.benefits {
    ul li img {
      padding-right: 5px;
      width: 35px;
    }

    .cards img {
      width: 90%;
    }
  }

  .top-carousel {
    .item-wrapper {
       &:first-child {
         margin-right: -40px;
       }

       &:nth-child(2) {
       }

      &:last-child {
        margin-left: -40px;
      }
    }
  }
}
