body {
  color: #000;
  background: #fff;
  font-family: "proxima-nova";
  font-weight: normal;
}

.bg-pattern {
  background: url("../img/background.png") top center repeat;
  background-size: cover;
}

.burder-menu {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -30px;
  right: 14px;

  span {
    background: #000;
    display: block;
    height: 2px;
    margin-bottom: 4px;
    width: 100%;
  }
}

header .close-icon {
  display: none;
  position: absolute;
  top: 15px;
  right: 39px;
}

.btn-rounded {
  flex: 0 0 243px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 6px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: normal;

  &.bg-green {
    background-color: #00ae83;
  }
}

.with-styled-border {
  border-bottom: 1px solid #000;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    bottom: -24px;
    right: 50%;
    border: 1px solid #000;;
    transform: translate(50%, 0) rotateZ(45deg);
    z-index: 1;
    background-color: #fff;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    bottom: -7px;
    right: 50%;
    border: 1px solid #000;
    transform: translate(50%, 0) rotateZ(45deg);
    z-index: 2;
  }
}

header, footer {
  nav.navbar.navbar-expand-lg {
    padding: 25px 15px;
    align-items: center;

    .navbar-nav {
      align-items: center;

      .nav-item {
        font-size: 14px;
        padding: 0 24px;
        border-right: 1px solid #000;
        text-transform: uppercase;
        color: #000;
        font-weight: normal;
        line-height: 1;

        &:nth-child(3) {
          border-right: none;
          padding-right: 0;
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .links {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      .download-link {
        flex: 0 0 243px;
        font-weight: normal;
        background: #000;
        padding-right: 46px;
        padding-left: 46px;
        text-decoration: none;

        &:active, &:hover {
          color: #fff;
        }
      }

      .email-us {
        flex-basis: 180px;
        margin-left: 20px;
      }
    }
  }
}

section {
  .title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
  }

  .subtitle {
    font-family: "OpenSans";
    font-size: 14px;
    padding-bottom: 22px;
    position: relative;
    text-align: center;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      bottom: 0;
      right: calc(50% - 25px);
      border-bottom: 1px solid #000;
    }
  }

  .btn-rounded {
    width: 171px;
    margin: auto;
  }
}

.container-fluid {
  padding: 0;
}

.bg-black {
  background: #000;
  color: #fff;
}

.container-fluid.bg-black {
  section .subtitle:after {
    border-bottom-color: #fff;
  }
}

section.header {
  padding: 55px 0 42px;

  .carousel {
    margin: 30px auto 54px;
  }

  a.scroll {
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

section.about {
  padding: 50px 0 40px;

  .title {
    color: #5854a1;
  }

  .card-info {
    margin: 0 -30px;

    .card-item {
      padding: 0 30px;
    }
    h3 {
      font-size: 24px;
      padding-bottom: 25px;
    }

    p {
      font-family: "OpenSans";
      font-size: 14px;
    }

    .about-img {
      display: flex;
      height: 165px;
      padding-bottom: 10px;
    }

    .card-item {
      &:first-child img {
        width: 112px;
        padding-top: 59px;
      }

      &:nth-child(2) img {
        width: 121px;
        margin-left: -30px;
      }

      &:nth-child(3) img {
        width: 87px;
        padding-top: 51px;
      }

      &:nth-child(4) img {
        width: 100px;
        padding-top: 21px;
      }
    }
  }
}

section.instruction {
  padding: 50px 15px 0;

  .title {
    color: #d60053;
  }
}

.video-instruction {
  position: relative;
  padding-bottom: 67%;
  padding-top: 25px;
  height: 0;
}
.video-instruction iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.cards {
  padding-top: 50px;

  h2 {
    color: #5854a1;
  }

  .nav-tabs {
    max-width: 416px;
    margin: 64px auto 84px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 60px;
    border: 0;

    .nav-item {
      width: 138px;
      padding: 0;
      text-align: center;
      margin-bottom: -2px;
      cursor: pointer;

      a {
        padding: 0;
      }
    }

    a.nav-link {
      padding: 15px 0;
      line-height: 1;
      border: 1px solid #fff;
      color: #fff;
      border-radius: 0;

      &.active {
        color: #000;
      }

      &#ml-tab {
        border-radius: 60px 0 0 60px;
      }

      &#iot-tab {
        border-radius: 0 60px 60px 0;
      }
    }
  }

  .tab-pane {
    overflow: hidden;
    position: relative;

    .content {
      position: relative;

      .row.card-container {
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
        left: -8.33333%;

        .tab-card {
          position: relative;
          cursor: pointer;


          &.previous {
            left: -8.33333%;
          }

          &.next {
            right: -8.33333%;
          }
        }
      }
    }

    .controlls {
      .next, .previous {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        height: 100%;
        background: black;
        width: 8.33333%;
        transition: all 0.5s;
        cursor: pointer;

        &:hover, &.active {
          background: #0000007a;
        }
      }

      .previous img {
        transform: rotate(180deg);
      }

      .next {
        right: 0;
        height: 100%;
      }
    }
  }

  .modal {
    .modal-dialog {
      max-width: 350px;
      margin: 3rem auto;

      .modal-content {
        background-color: transparent;
        border: none;

        .close-icon {
          position: absolute;
          cursor: pointer;
          background: #fff;
          border-radius: 50%;
          width: 26px;
          padding: 2px;
          border: 1px solid rgba(#000, 0.6);
          z-index: 2;
          top: -7px;
          right: -7px;
        }

        .modal-body {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

section.benefits {
  padding: 50px 0 80px;

  h2 {
    color: #94308e;
  }

  ul {
    padding-left: 0;

    div {
      display: flex;
      align-items: center;
    }

    li {
      list-style-type: none;
      padding: 10px 0;
      line-height: 1;
      font-size: 18px;
      font-family: "OpenSans";

      img {
        padding-right: 20px;
      }
    }
  }

  .row.benefits {
    margin-bottom: 55px;
    align-items: center;
  }
  .cards {
    position: relative;
    height: 400px;

    img {
      position: absolute;
      max-width: 494px;
      width: 100%;
      height: 300px;
      object-fit: contain;

      &:first-child {
        top: 0;
        z-index: 3;
      }

      &:nth-child(2) {
        top: 45px;
        z-index: 2;
      }

      &:last-child {
        top: 90px;
        z-index: 1;
      }
    }
  }

  .btn-rounded {
    background: #94308e;
    width: 249px;
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

section.contributors {
  padding-top: 50px;

  .contributors-info {
    position: relative;
    padding-bottom: 32px;
    text-align: center;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      bottom: 0;
      right: calc(50% - 25px);
      border-bottom: 1px solid #000;
    }

    h3 {
      font-size: 14px;
      margin: 32px 0 18px;
      text-transform: uppercase;
    }

    p {
      font-family: "OpenSans";
      font-size: 12px;

      &.contributors-list {
        width: 100%;
        max-width: 400px;
        margin: auto;
      }

      &.about-softserve {
        width: 100%;
        max-width: 858px;
        margin: 0 auto 20px;
      }

      a.underlined {
        text-decoration: underline;
        color: inherit;
      }
    }
  }

  .contributors {
    text-align: center;
    padding: 52px 0 85px;
    display: flex;
    align-items: stretch;
    justify-content: center;

    .contributor {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
      flex: 0 0 25%;
      margin: 0 10px;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 992px) {
  header .close-icon {
    display: block;
  }

  section.about {
    .card-info p {
      max-width: 100%;
    }
  }

  .bg-pattern {
    background-size: cover;
  }

  .burder-menu {
    display: block;
  }

  nav.navbar {
    // height: 0;
    position: relative;
    max-width: 100%;

    &.active {
      background: #fff url("../img/background.png") top center repeat;
      background-size: cover;
      position: fixed;
      padding: 25px 0px;
      z-index: 100;
      height: 100%;
    }

    .navbar-collapse {
      display: none;

      &.show {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;

        .navbar-nav {
          .nav-item.nav-link {
            border-right: none;
            padding: 0 0 20px;
          }

          .links {
            flex-direction: column;
            align-items: center;

            .btn-rounded {
              font-size: 14px;
              line-height: 1;
            }

            .email-us {
              margin-left: 0;
              margin-top: 20px;
            }
          }

          .btn-rounded.download-link {
            flex-basis: 35px;
          }
        }
      }
    }
  }
}
.top-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 610px;
  margin: 32px auto 55px;

  .item-wrapper {
    width: 50%;

    &:first-child {
      margin-right: -10%;
      overflow: hidden;

      img {
       max-width: 80%
      }
    }

    &:nth-child(2) {
      z-index: 2;

      img {
        max-width: 100%
      }
    }

    &:last-child {
      margin-left: -10%;
      overflow: visible;

      img {
        max-width: 80%
      }
    }
  }
}

@media (max-width: 768px) {
  section.cards .tab-pane {
    .content .row.card-container {
      left: -25%;
    }

    .controlls {
      .next, .previous {
        width: 25%;
      }
    }
  }
}

@media (max-width: 600px) {
  section .title {
    font-size: 38px;
  }

  section.cards .nav-tabs {
    display: flex;
    justify-content: center;

    .nav-item {
      width: 95px;
      font-size: 16px;
    }
  }

  section.benefits {
    ul li img {
      padding-right: 10px;
      width: 35px;
    }

    .cards img {
      width: 90%;
    }
  }

  .top-carousel {
    .item-wrapper {
       &:first-child {
         margin-right: -40px;
       }

       &:nth-child(2) {
       }

      &:last-child {
        margin-left: -40px;
      }
    }
  }
}

@media (max-width: 400px) {
  .benefits li {
    font-size: 16px;
  }
}
